<div class="container">
    <mat-grid-list cols="4" rowHeight="55px">
        <mat-grid-tile colspan="2" rowspan="2">

        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <h3>Meals & Recipies</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <button mat-stroked-button routerLink="/meals">View All</button>
            &nbsp;&nbsp;
            <button mat-stroked-button color="primary">Add New</button>
        </mat-grid-tile>
    </mat-grid-list>
    <app-tb></app-tb>
    <br>
    <mat-grid-list cols="4" rowHeight="55px">
        <mat-grid-tile colspan="2" rowspan="2">

        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <h3 style="margin-bottom: 0;">Food items & Ingredients</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" >
            <button mat-stroked-button routerLink="/fooditems">View All</button>
            &nbsp;&nbsp;
            <button mat-stroked-button color="primary">Add New</button>
        </mat-grid-tile>
    </mat-grid-list>
    <app-tb></app-tb>
</div>
